.product-container {
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin: 40px 70px;
  padding: 20px;
}

.container-images {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.product-detail-images {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.product-detail-images img {
  border-radius: 4px;
  height: 50px;
  padding: 5px;
  width: 50px;
}

.image-active {
  border: 2px solid #3583fa;
}

.image-not-active {
  border: 1px solid rgb(201, 201, 201);
}

.product-detail-img {
  height: 480px;
  width: 380px;
}

.product-container-info {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 5px;
  padding: 20px;
  width: 30%;
}

.off-5 {
  background-color: #DDE7FA;
  color: #6199ff;
  max-width: 210px;
  text-align: center;

  font-weight: 500;
  padding: 4px 0px;
  font-size: 14px;
  border-radius: 4px;
}


@media screen and ( max-width : 996px ) {

  .container-images {
    align-items: center;
  }

  .product-container {
    flex-direction: column;
    margin: 20px 50px;
  }

  .product-detail-img {
    height: 350px;
    width: 250px;
  }

  .product-container-info {
    margin-top: 2rem;
    padding: 10px;
    width: 100%;
  }

  .container-images {
    width: 100%;
  }
}

@media screen and ( max-width : 767px ) {
  
  .product-container-info {
    padding: 20px;
  }
}

@media screen and ( max-width : 576px ) {

  .product-container {
    margin: 20px 40px;
    padding: 10px;
  }

  .product-detail-img {
    height: 320px;
    width: 240px;
  }
}

@media screen and ( max-width : 476px ) {

  .product-container {
    margin: 20px 10px;
  }

  .product-detail-img {
    height: 280px;
    width: 200px;
  }
}
