/* stylelint-disable selector-max-specificity */
header div input {
  font-weight: 300;
}

header div input::placeholder {
  font-weight: 100;
}

.menu {
  animation: animate-nav 1s;
  background-color: #fff059;
  padding: 1rem;
  width: 100%;
}

.menu-closed {
  display: none;
}

@keyframes animate-nav {

  from {
    margin-top: -10px;
  }

  to {
    margin-top: 0;
  }
}

.shopping-cart-size {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -5px;
  margin-left: -57px;
  border-radius: 50%;
  background-color: white;
  width: 23px;
  height: 23px;
  z-index: 1;
  font-size: 12px;
}

.category {
  background-color: white;
}

.category:hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

#category-0 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#category-31 {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.slide {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.category-desktop {
  color: #555;
}

.category-desktop:hover {
  color: black;
  cursor: pointer;
  transition: 200ms;
}

.icon-arrow {
  color: #555;
}

.icon-arrow:hover {
  color: black;
  cursor: pointer;
  transition: 200ms;
}

.icon-search {
  cursor: pointer;
  filter: opacity(25%);
}

.icon-search:hover {
  filter: opacity(100%);
  transition: 200ms;
}

.icon-cart {
  cursor: pointer;
  width: 32px;
  filter: opacity(70%);
}

.icon-cart:hover {
  filter: opacity(100%);
  transition: 200ms;
}

@media screen and ( min-width : 768px ) {

  .icon-menu {
    display: none;
  }

}

@media screen and ( max-width : 767px ) {

  .shopping-cart-size {
    margin-left: -13px;
  }
}

@media screen and ( max-width : 596px ) {

  .shopping-cart-size {
    width: 20px;
    height: 20px;
    font-size: 10px;
  }
}
